// Variables
$fontColor: #333;
$primaryColor: rgb(255, 202, 182);

// Basic mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Basic Setup
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  color: $fontColor;
}

body {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

// Media Query Mixins
@mixin mediaXs {
  @media screen and (max-width: 420px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 710px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 999px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 1000px) and (max-width: 1299px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1300px) {
    @content;
  }
}
