.menu {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid coral;
  min-height: 85px;
  button {
    font-size: 1.5rem;
    color: grey;
    padding: 10px;
    flex: 1;
    margin: 0;
    border: none;
    background: $primaryColor;

    &:hover {
      background: lighten($primaryColor, 5);
    }
    &.active {
      color: white;
      background: coral;
    }
  }
}
