// Widescreens
@include mediaXl {
  .menu {
    width: 1300px;
    height: 100px;
  }
}

// Large screens
@include mediaLg {
  .menu {
    width: 100vw;
  }
}

// Medium screen size
@include mediaMd {
  .menu {
    width: 100vw;
    min-height: 70px;

    button {
      font-size: 1.2rem;
    }
  }
}

// Small screens
@include mediaSm {
  .menu {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    border: none;

    button {
      flex: 1;
      font-size: 1rem;
    }
  }

  .calculator {
    .app {
      .option {
        @include flexCenter;
        flex-flow: column;

        select,
        input {
          margin: 0;
        }
      }
    }
  }
}

// Extra small screens
@include mediaXs {
  .menu {
    grid-template-columns: 1fr;
  }

  .calculator {
    img {
      max-width: 200px;
    }
    .app {
      @include flexCenter;
      flex-flow: column;

      .option {
        @include flexCenter;
        flex-flow: column;

        select,
        input {
          max-width: 180px;
          margin: 0;
        }
      }
    }
  }
}
